.inventory__bg {
  transition: transform 0.2s;
}
.inventory__bg:hover {
  transform: scale(120%);
}
.inventory__bg__default {
}
.inventory__bg--small {
  width: 9rem;
  height: 9rem;
}
.inventory__bg--medium {
  width: 10rem;
  height: 10rem;
}
.inventory__bg--large {
  width: 11rem;
  height: 11rem;
}
.inventory__bg--circle {
  border-radius: 50%;
}
.inventory__bg__selected {
  border: 4px solid #ffcc00;
}
.inventory__bg__equable {
  border: 4px solid #91f96f;
}
.inventory__img {
  height: inherit;
  width: inherit;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.inventory__bg--circle .inventory__bg--purple {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Circle-Purple.png');
}
.inventory__bg--square .inventory__bg--purple {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Square-Purple.png');
}
.inventory__bg--circle .inventory__bg--green {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Circle-Green.png');
}
.inventory__bg--square .inventory__bg--green {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Square-Green.png');
}
.inventory__bg--circle .inventory__bg--grey {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Circle-Grey.png');
}
.inventory__bg--square .inventory__bg--grey {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Square-Grey.png');
}
.inventory__bg--circle .inventory__bg--blue {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Circle-Blue.png');
}
.inventory__bg--square .inventory__bg--blue {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Square-Blue.png');
}
.inventory__bg--circle .inventory__bg--red {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Circle-Red.png');
}
.inventory__bg--square .inventory__bg--red {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Square-Red.png');
}
.inventory__bg--circle .inventory__bg--orange {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Circle-Orange.png');
}
.inventory__bg--square .inventory__bg--orange {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Square-Orange.png');
}
.inventory__bg--circle .inventory__bg--empty {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Circle-Empty.png');
}
.inventory__bg--square .inventory__bg--empty {
  background-image: url('../../assets/inventoryBgs/Icn_InventoryBG-Square-Empty.png');
}
