/* Notification.module.css */
.notification {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 5rem;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  line-height: 1.5;
  font-size: 3rem;
  text-shadow: 1px 1px black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  font-family: 'Brady Bunch Remastered';
  padding: 0rem 2rem;
}

.notification--green {
  background-image: url('/src/assets/notification/Notification_green.svg');
}

.notification--orange {
  background-image: url('/src/assets/notification/Notification_orange.svg');
}
