@font-face {
  font-family: "Brady Bunch Remastered";
  src: url("/src/assets/fonts/BradyBunchRemastered.woff") format("woff2"),
    url("/src/assets/fonts/BradyBunchRemastered.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Button */
.btn {
  width: auto;
  height: auto;
  border: 0;
  cursor: pointer;
  padding: 0.25rem;
  overflow: hidden;
  text-shadow: 2px 2px black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  font-size: 2.5rem;
  color: white;
  font-family: "Brady Bunch Remastered";
  text-transform: uppercase;
  background-color: black;
  clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
  transition: transform 0.2s;
}

.btn:disabled {
  pointer-events: none;
  background-color: #000;
}
.btn:disabled .btn_text {
  background-color: #90a8b9;
  box-shadow: inset 3px -3px 0px 3px rgba(108, 126, 139, 0.6);
}

.btn:hover {
  transform: scale(1.1);
}
.btn:focus {
  transform: scale(0.9);
  color: rgba(255, 255, 255, 0.8);
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.8);
}
.btn_text {
  line-height: 1;
  min-width: 7rem;
  min-height: 2.5rem;
  padding: 0rem 1rem 0.4rem 1rem;
}
.btn .btn_text:hover {
  background-color: #fce000;
  box-shadow: inset 2px -2px 0px 3px rgba(252, 188, 51, 0.8);
}
/* Blue button */
.btn--blue .btn_text {
  background-color: #4287e5;
  box-shadow: inset 3px -3px 0px 3px rgb(49, 101, 172);
}
.btn--blue:focus .btn_text {
  background-color: #214372;
  box-shadow: inset -3px 3px 0px 3px rgba(0, 33, 62, 1);
  transform: 0;
}
.selected--blue .btn_text {
  background-color: #70dbf7;
  box-shadow: inset 3px -3px 0px 3px rgb(83, 172, 230);
}
/* Green button */
.btn--green .btn_text {
  background-color: #60cb3d;
  box-shadow: inset 3px -3px 0px 3px rgb(72, 152, 46, 0.5);
}

.btn--green:focus .btn_text {
  background-color: #30651e;
  box-shadow: inset -3px 3px 0px 3px rgba(36, 76, 23, 0.9);
}
.selected--green .btn_text {
  background-color: #baf059;
  box-shadow: inset 3px -3px 0px 3px rgb(123, 217, 78);
}

/* red button */
.btn--red .btn_text {
  background-color: #f40b0e;
  box-shadow: inset 3px -3px 0px 3px rgba(183, 8, 10, 0.6);
}

.btn--red:focus .btn_text {
  background-color: #7a0507;
  box-shadow: inset -3px 3px 0px 3px rgba(91, 4, 5, 0.9);
}
.selected--red .btn_text {
  background-color: #ff5b72;
  box-shadow: inset 3px -3px 0px 3px rgb(255, 46, 71);
}
/* Orange button */
.btn--orange .btn_text {
  background-color: #ff8500;
  box-shadow: inset 3px -3px 0px 3px rgba(191, 100, 0, 0.6);
}
.selected--orange .btn_text {
  background-color: #ffc033;
  box-shadow: inset 3px -3px 0px 3px rgba(255, 151, 60, 0.7);
}
.btn--orange:focus .btn_text {
  background-color: #7f4200;
  box-shadow: inset -3px 3px 0px 3px rgb(95, 50, 0);
}
/* Gray button */
.btn--gray {
  pointer-events: none;
}
.btn--gray .btn_text {
  pointer-events: none;
  background-color: #90a8b9;
  box-shadow: inset 3px -3px 0px 3px rgb(108, 126, 139);
}

/* Disable button */
.btn--disable .btn_text {
  background-color: #90a8b9;
  box-shadow: inset 3px -3px 0px 3px rgba(108, 126, 139, 0.5);
}
