/* Tag Button  */
.btn__tabs {
  border: 0;
  cursor: pointer;
  text-shadow: 1px 1px black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 3rem;
  color: #ffffff;
  font-family: 'Brady Bunch Remastered';
  text-transform: uppercase;
  transition: transform 0.2s;
  line-height: 1;
  padding: 0rem 1rem 0.4rem 1rem;
  background-image: url('../../assets/Tags/Tab_Reg-default.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  min-width: 14rem;
  height: 5rem;
}

/* Disable button */
.btn__tabs:disabled {
  pointer-events: none;
  background-image: url('../../assets/Tags/Tab_Reg-disabled.svg');
}

.btn__tabs:hover {
  transform: scale(1.1);
  background-image: url('../../assets/Tags/Tab_Reg-hover.svg');
}

.btn__tabs--selected {
  background-image: url('../../assets/Tags/Tab_Reg-selected.svg');
}
