@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Brady Bunch Remastered';
  src: url('../assets/fonts/BradyBunchRemastered.woff2') format('woff'),
    url('../assets/fonts/BradyBunchRemastered.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
