/* roted Labels */
.rotated__label {
  font-size: 4rem;
  display: inline-block;
  background-size: 100% 100%;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 3px 3px black;
  line-height: 1.3;
  color: #fff;
  font-family: 'Brady Bunch Remastered';
  padding: 0.5rem 2rem 1rem 2rem;
}
.rotated__label__text {
  transform: rotate(-7.5deg);
}
.rotated__label__red {
  background-image: url('/src/assets/labels/Label_SP-red.svg');
}
.rotated__label__green {
  background-image: url('/src/assets/labels/Label_SP-green.svg');
}
.rotated__label__darkBlue {
  background-image: url('/src/assets/labels/Label_SP-blue-drk.svg');
}
.rotated__label__orange {
  background-image: url('/src/assets/labels/Label_SP-orange.svg');
}
.rotated__label__pink {
  background-image: url('/src/assets/labels/Label_SP-pink.svg');
}
.rotated__label__purple {
  background-image: url('/src/assets/labels/Label_SP-purple.svg');
}
.rotated__label__yellow {
  background-image: url('/src/assets/labels/Label_SP-yellow.svg');
}
.rotated__label__blue {
  background-image: url('/src/assets/labels/Label_SP-blue-lt.svg');
}
